* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
  
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
  
.padre {
    display: flex;
    flex-flow: column nowrap; }
  
.margen-interno {
    padding: 0 50px; }
  
.header {
    background: url(../assets/img/fondo3.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap; 
    width: 100%;
}
  
.header-menu {
    background: transparent;
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    align-items: center; }
  
.header-menu-logo {
    flex: 1 1 auto; 
     a {
        color: black;
        font-size: 30px;
        text-decoration: none; 
    }
        
    a:hover {
        color: white; 
    }
}
.header-menu-nav {
    flex: 5 1 auto; 
    a {
        color: black;
        font-size: 11px;
        text-transform: uppercase;
        padding: 0 10px;
        letter-spacing: 2px;
        text-decoration: none; 
    }
    a:hover {
        color: white; 
    }
    
}
.header-menu-nav a {
      color: black;
      font-size: 11px;
      text-transform: uppercase;
      padding: 0 10px;
      letter-spacing: 2px;
      text-decoration: none; 
      a:hover {
            color: white; 
        }
}
  
.header-menu-social {
    display: flex;
    a{
        margin: 8%;
    } 
}
  
.header-texto-principal {
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-flow: column wrap;
    h1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 300;
        color:black;
        font-size: 21px;
        text-align: center;
        line-height: 1.6;
    }
    h2{
       border-top:solid 2px black;  
       margin: 2%;
        
    }
}
.header-title{
    padding: 10px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
  
}
.img-aboutme{
  width: 300px;
  height: 300px;
  
}
  
.section {
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column wrap; }
  
.section-container {
    padding: 8%;
    display: flex;
    overflow: hidden; }
  
.section-container-img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden; 
     img:hover {
        -webkit-transform: scale(0.8);
        transform: scale(0.8); 
    }
}
.container-blog{
    background: #f7f7f7;
    display: flex;
    }
    .post{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transform: translate(10px, 20px);
    }
    .titulo-post{
    padding: 40px;
}
.container-libro{
    background: #f7f7f7;
    display: flex;}
.articulos{
    background: #f7f7f7 ;
    flex: 2 1 auto ;
    display: flex;
    flex-flow: row wrap;
    
    }
    .article{

    flex: 1 1 40%;
    color: #444;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 10px 10px 0 0px;
    flex: 1 1 45%;
    background: #ececec;
        img{
            width: 100%;
            
        }
        a{
        color: #fff;
        font-size: 13px;
        padding: 10px ;
        background: #000;
        margin: 10px 0;
        display: inline-block;
        }
}
.container-post {
    background: #f7f7f7;
    display: flex; }
  
  .post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(10px, 20px);
    background-color: beige; 
  }
  .post p{
    margin: 2%;
    text-align: justify;
  }
  
  .titulo-post {
    padding: 5%;
    width: 100%; 
    text-align: center;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  #f7f7f7;
  
  }

    
  
.portafolio {
    background: #f2f2f2; }
  
.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
  
.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); }
.imagen-port > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block; 
    }

  
.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(75, 6, 132, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    img {
      width: 50px; 
    }
    p {
      color: #fff; 
    }
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}
  
}
  .imagen-port:hover .hover-galeria {
    transform: scale(1); }

    main .sobre-nosotros{
        padding: 30px 0 60px 0;
    }
    .contenedor-sobre-nosotros{
        display: flex;
        justify-content: space-evenly;
    }
    
    .imagen-about-us{
        width: 48%;
    }
    
    .sobre-nosotros .contenido-textos{
        width: 48%;
    }
    
    .contenido-textos h3{
        margin-bottom: 15px;
    }
    
    .contenido-textos h3 span{
        background: #4d0686;
        color: #fff;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 2px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
        margin-right: 5px;
    }
    
    .contenido-textos p{
        padding: 0px 0px 30px 15px;
        font-weight: 300;
        text-align: justify;
    }
  
footer {
    background: white;
    width: 100%;
    padding: 2%;
    overflow: hidden;

    h4{
        color: black;
        border-bottom: 3px solid black;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
}
        .contenedor-footer{
            display: flex;
            width: 105%;
            justify-content: space-evenly;
            margin: auto;
            padding-bottom: 50px;
            border-bottom: 1px solid black;
        }
        .content-foo{
            text-align: center;
        }
        
        .titulo-final{
            text-align: center;
            font-size: 24px;
            margin: 20px 0 0 0;
            color: #9e9797;
        }

        @media all and (max-width: 1120px) {
            .section {
             flex-direction: column; 
            }
            .header-menu {
             flex-direction: column;
             height: auto; 
            }
            h1 {
             font-size: 15px; }

            .header-texto-principal {
             height: 450px; 
            } 
           }
         @media all and (max-width: 700px) {
           .header-menu {
             flex-direction: column;
             height: auto; }
           footer{
             width: 100%;
             padding: 10%;
           }
           .contenedor-footer{
             display: flex;
             flex-flow: column wrap;  
           }
           .imagen-about-us{
             display: none;
           }
           .galeria-port{
             display: flex;
             flex-flow: row wrap;
             align-items: center;
       
           }
           .imagen-port{
             display: flex;
             width: 50%;
           }
           
           }
           @media all and (max-width: 600px){
            .img-aboutme{
              width: 50%;
              width: 200px;
              height: 200px;
              
            }

           }
           @media all and (max-width: 500px){
             .header-menu {
               flex-direction: column;
               height: auto; }
                 footer{
                   width: 100%;
                   padding: 10%;
                 }
                 h1 {
                   font-size: 11px; }
                  .header-texto-principal {
                   height: 40%; } 
                 .contenedor-footer{
                   display: flex;
                   flex-flow: column wrap;  
                 }
                 
                 .imagen-about-us{
                   display: none;
                 }
                 .galeria-port{
                   display: flex;
                   flex-flow: column nowrap;
                   justify-content: center;
                  
       
                 }
                 .imagen-port{
                   display: flex;
                   width: 80%;
                 }
       
           }
           @media all and (max-width: 450px){
             footer{
               width: 100%;
               padding: 10%;
             }
             .contenedor-footer{
               display: flex;
               flex-flow: column wrap;  
             }
             .imagen-about-us{
               display: none;
             }
             .galeria-port{
               display: flex;
               flex-flow: column wrap;
               align-items: center;
       
             }
             .imagen-port{
               display: flex;
               width: 90%;
             }
       
            }
          