<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Antonio Rodrigues">
    <meta name="keywords" content="html,css,xml,javascript">
    <title>AR | Post</title>
    <link rel="stylesheet" href="../../css/estilo.css">
<body>
    <div class="padre">
      <header class="header">
        <div class="header-menu margen-interno">
            <div class="header-menu-logo">
                <a href="../../index.html">AntonioRodrigues</a>
            </div>
            <div class="header-menu-nav">
                <a href="../../index.html">inicio</a>
                <a href="../../views/blog.html">blog</a>
                <a href="../../views/libros.html">libros</a>
                <a href="../../views/about-me.html">sobre mi</a>
                <a href="../../views/contactar.html">contactar</a>
            </div>
            <div class="header-menu-social">
                <a href="https://www.facebook.com/antonio.escobar.1999/"target="_blanket"><img  src="../../assets/img/facebook1.1.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/antonio_rodrigues199/?hl=es-la"target="_blanket"><img  src="../../assets/img/instagram.png" alt="instagram"></a>
                <a href="https://github.com/AntonioR1999"target="_blanket"><img  src="../../assets/img/github.png" alt="github"></a>
            
            </div>
        </div>
        
    </header>
        <section class="container-post margen-interno">
            <div class="post">
                <h1 class="titulo-post">#RETO: SUPERATE SOLO A TI MISMO</h1>
                <div>
                <p>Hace unas semanas, lancé un tweet con una pregunta sobre esta frase del Código del Samurái y me llamó la atención porque recibí muchos comentarios. Conclusión: a todos nos gusta superarnos sin mirar a los lados, excepto para aprender. Sin embargo, cansa una sociedad tan preocupada de la crítica no precisamente constructiva, tan fuera de sí, tan competitiva y preocupada de superar al de al lado aunque ni siquiera sepa para qué…</p>

                <p>Así que mi propuesta es pararnos y volver a analizar la pregunta. Y cada uno con sus respuestas, trazar la ruta que le ayude a llegar a ese lugar al que nunca se llega: el de la superación, de ser mejores y en el que el único juez (mejor guía) es uno mismo. En ese territorio, la obsesión (el ego) también puede hacer malas jugadas. Sin duda será otro aprendizaje, otra forma de superarnos, en algunos casos para dejar de ser los más brillantes, los números uno, los más líderes… y permitirnos simplemente ser.</p>
                
                <p>Cada paso que avancemos hacia ese país de uno mismo, nos acercaremos a nuestra esencia y, paradójicamente, también a los demás. Las relaciones ganan en calidad cuando nos mostramos en verdad y damos lo mejor de nosotros mismos. En esa tierra rozar la felicidad será más habitual. Desde ahí la vida será – como he leído en vuestros comentarios- maravillosa, espectacular, increíblemente hermosa, menos complicada, más productiva…</p>
                
                <p>¿Qué podemos hacer? Comparto algunas de mis ideas.</p>
                
                <p>Identifica tus valores. La única inversión que nunca será excesiva es conocernos. Y desde ahí, conectar con lo que nos ayuda a ser mejores, más flexibles y en constante construcción…</p>
                <p>Desenmascara a tus miedos. Una vida no vivida por esto y lo otro, es una vida paralizada por los miedos. La forma de decirles adiós o de caminar con ellos (a veces es lo más útil), es conocerlos; saber lo que nos paraliza, lo que nos lleva a justificar lo injustificable, a pactar con la insatisfacción y el malestar.</p>
                <p>Crea tu propio código. Atrévete a ser el samurái de tu vida, claro está, en constante evolución. Vivir es aceptar lo que es, guiado por tus valores.</p>
                <p>Vive con la mentalidad de solo por hoy. Siempre con la conciencia de que cada instante es la eternidad. Céntrate en lo que tienes entre manos y deja de obsesionarte con las grandes cosas que te preocupan o que pueden suceder.</p>
                <p>Pero antes de cerrar este texto, la pregunta inevitable: ¿Por qué no vivimos así? Quiero decir, empeñándonos solo en superarnos a nosotros mismos…</p>
                </div>
            </div>
        </section>
        <footer>
          <div class="contenedor-footer">
              <div class="content-foo">
                  <h4>Phone</h4>
                  <p>11-5410-1259</p>
              </div>
              <div class="content-foo">
                  <h4>Email</h4>
                  <p>Antonioere1999@gmail.com</p>
              </div>
              <div class="content-foo">
                  <h4>Location</h4>
                  <p>Buenos Aires | Argentina</p>
              </div>
          </div>
          <h2 class="titulo-final">&copy; AERE Design | Antonio Rodrigues</h2>
      </footer>
</body>
</html>