<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Antonio Rodrigues">
    <meta name="keywords" content="html,css,xml,javascript">
    <title>AR | Post</title>
    <link rel="stylesheet" href="../../css/estilo.css">
</head>
<body>
    <div class="padre">
      <header class="header">
        <div class="header-menu margen-interno">
            <div class="header-menu-logo">
                <a href="../../index.html">AntonioRodrigues</a>
            </div>
            <div class="header-menu-nav">
                <a href="../../index.html">inicio</a>
                <a href="../../views/blog.html">blog</a>
                <a href="../../views/libros.html">libros</a>
                <a href="../../views/about-me.html">sobre mi</a>
                <a href="../../views/contactar.html">contactar</a>
            </div>
            <div class="header-menu-social">
                <a href="https://www.facebook.com/antonio.escobar.1999/"target="_blanket"><img  src="../../assets/img/facebook1.1.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/antonio_rodrigues199/?hl=es-la"target="_blanket"><img  src="../../assets/img/instagram.png" alt="instagram"></a>
                <a href="https://github.com/AntonioR1999"target="_blanket"><img  src="../../assets/img/github.png" alt="github"></a>
            
            </div>
        </div>
        
    </header>
        <section class="container-post margen-interno">
            <div class="post">
                <h1 class="titulo-post">CULTURA DEL APRENDIZAJE, EL ADN IMPRESCINDIBLE</h1>
                <div>
                <p>¿Cuántos libros lees al año? Bill Gates decía a New York Times que unos 50. No hay líder ni profesional renombrado sin curiosidad insaciable. Como pedagoga, sé firmemente que el aprendizaje constante es la clave del crecimiento y por tanto del éxito. </p>

                <p>De hecho, este post parte de la lectura inspiradora de un artículo de Marcel Schwantes titulado, Bill Gates Now Asks 1 Question That He Says ‘Would Have Been Laughable to Me When I Was 25’ en la revista Inc, que me he permitido adaptar. Coincido plenamente con sus tres claves beneficiosas para empresas y sociedades, tanto que son premisas con las que trabajo desde hace décadas.    
                Comparto estas tres claves que he utilizado en mi vida y en mi empresa BeUp – primero de una forma intuitiva y desde hace tiempo estructurada –, con las que creo que nunca he parado de aprender y de convertirme (confío) en mejor persona y líder: </p>
                    
                <p>Sí al talento de los mayores no de 50, sino de 60 y más</p>
                    
                <p>El talento es talento, solo que a partir de una edad lo normal es que se transforme en sabiduría. Perder a estas personas en el entorno laboral o personal no tiene sentido. Las razones son muchas: aportan un nivel de experiencia, pensamiento crítico y conocimiento que sin ellos es difícil de transmitir a las generaciones más jóvenes. Los trabajadores senior, saben qué preguntas hacer, tienen una ética de trabajo sólida, y saben cómo hacer bien su trabajo.</p>
                    
                   <p>Las reglas cambian pero hay una que siempre es la misma: si el éxito depende de atraer y retener a los mejores, ¿tiene sentido excluir a los que están en su quinta década o más allá?
                   En Estados Unidos, los Baby Boomers, muy castigados durante la gran crisis, están volviendo a ingresar en el mundo laboral. Es una tendencia creo que imparable que también comienzo a ver en España.</p>
                    
                  <p>«Mentores inversos», porque el talento es talento</p>
                    
                   <p>Retener el talento de los más jóvenes tiene muchos ingredientes y uno de ellos es hacerles ver su talento, y ¿qué mejor forma que convertirlos en mentores?</p>
                    
                   <p>Fue Jack Welch en los 90 quien implementó la tutoría inversa para que 500 de sus altos ejecutivos aprendieran sobre tecnología e Internet. Con los años, el reverse mentoring (en BeUp somos unos enamorados del mentoring) ha evolucionado más allá del intercambio de conocimientos sobre tecnología para compartir nuevos enfoques de estrategia, liderazgo, cultura y compromiso. Cada vez hay más directivos y ejecutivos que buscan aportes de sus aprendices para conocerlos mejor, discutir dilemas organizacionales y solicitar comentarios sobre asuntos importantes.<p>
                    
                    <p>Cultiva el poder de la curiosidad.<p>
                    
                   <p>Harvard Business Review expone que las personas con un mayor «cociente de curiosidad» (CQ) generan ideas más originales y un «estilo de pensamiento» que conduce a niveles más altos de adquisición de conocimiento con el tiempo.
                    Otros estudios sugieren que las personas curiosas tienen mejores relaciones, se conectan mejor y disfrutan más de socializar. De hecho, nos sentimos más atraídos por las personas que muestran curiosidad. Así que cultivar la curiosidad en nuestra empresa, con nuestros hijos, amigos o cualquier otro ámbito es clave para llegar a mejores soluciones tanto si hablamos de problemas complejos como sencillos.</p>
                    
                    <p>último, no se me ocurre mejor forma de cerrar este post que con esta maravillosa frase que no solo expresa sabiduría sino también una inmensa humildad:<p>
                    
                   <p> «No tengo talentos especiales. Solo soy apasionadamente curioso».</p>
                   <p>– Albert Einstein</p>
                </div>
            </div>
        </section>
        <footer>
          <div class="contenedor-footer">
              <div class="content-foo">
                  <h4>Phone</h4>
                  <p>11-5410-1259</p>
              </div>
              <div class="content-foo">
                  <h4>Email</h4>
                  <p>Antonioere1999@gmail.com</p>
              </div>
              <div class="content-foo">
                  <h4>Location</h4>
                  <p>Buenos Aires | Argentina</p>
              </div>
          </div>
          <h2 class="titulo-final">&copy; AERE Design | Antonio Rodrigues</h2>
      </footer>
</body>
</html>