<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Antonio Rodrigues">
    <meta name="keywords" content="html,css,xml,javascript">
    <link rel="shortcut icon" href="../../assets/img/logo-antonio.png" type="image/x-icon">
    <title>AR | Post</title>
    <link rel="stylesheet" href="../../css/estilo.css">
</head>
<body>
    <div class="padre">
      <header class="header">
        <div class="header-menu margen-interno">
            <div class="header-menu-logo">
                <a href="../../index.html">AntonioRodrigues</a>
            </div>
            <div class="header-menu-nav">
                <a href="../../index.html">inicio</a>
                <a href="../../views/blog.html">blog</a>
                <a href="../../views/libros.html">libros</a>
                <a href="../../views/about-me.html">sobre mi</a>
                <a href="../../views/contactar.html">contactar</a>
            </div>
            <div class="header-menu-social">
                <a href="https://www.facebook.com/antonio.escobar.1999/"target="_blanket"><img  src="../../assets/img/facebook1.1.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/antonio_rodrigues199/?hl=es-la"target="_blanket"><img  src="../../assets/img/instagram.png" alt="instagram"></a>
                <a href="https://github.com/AntonioR1999"target="_blanket"><img  src="../../assets/img/github.png" alt="github"></a>
            
            </div>
        </div>
        
    </header>
        <section class="container-post margen-interno">
            <div class="post">
                <h1 class="titulo-post">aburrimiento productivo</h1>
            <div>
            <p>Vivimos en una sociedad acelerada, en la que decir “me aburro” es casi un pecado, pero como muchos otros estados mentales que experimentamos, el aburrimiento es algo natural y hasta necesario para nuestro cerebro.</p>

             <p>El aburrimiento no se fuerza ni se busca, sino que simplemente ocurre. Tampoco tiene que ver con estar más o menos ocupado, sino que puede sucederte cuando estás haciendo muchas cosas. Eso sí, está muy relacionado con el tedio y con el descontento; de hecho, el verbo “aburrirse” comparte origen con “aborrecer” (en tiempos incluso eran sinónimos), y es de esa falta de disfrute de donde podemos extraer un beneficio si lo transformamos en “aburrimiento productivo”.</p>
              
             <p>El aburrimiento productivo tiene que ver con un estado en el que, al no estar disfrutando de una actividad, nos surgen ideas para mejorar esa u otra actividad. Es como si el cerebro tratara de echarnos un cable y mejorar la situación en la que estamos, pues al cerebro no le gusta aburrirse, le gustan más los desafíos y estar ocioso de vez en cuando, que es distinto.</p>
              
             <p>Por otro lado, si el nivel del reto al que nos enfrentamos es bajo y nuestra capacidad para resolverlo es alta, aparecerá el “aburrimiento improductivo”. Empiezas a enfadarte con la situación, consideras que no se está valorando tu aportación o que tu talento está infravalorado… En esa situación el aburrimiento se transforma en enfado por la sensación de injusticia lo que no favorece la productividad mental, sino todo lo contrario, puede bloquearla.</p>
              
             <p>Por tanto, es el aburrimiento productivo el que debemos buscar, y este se activa al tener momentos diarios de «no hacer» o «hacer nada», fruto de la inactividad física. En esos momentos dejamos que el cerebro se vaya “al recreo” y elija pensar o localizar la atención en lo que quiera. En lo que surja. En estos momentos en los que no nos juzgamos por no estar en plena actividad, podemos conseguir resolver dudas con alguna decisión, ver alternativas a problemas o incluso encontrar soluciones a preguntas que nos podemos estar haciendo.</p>
              
             <p>¿Cómo puedes estimular o favorecer ese aburrimiento creativo? Si aplicas estas sencillas claves tendrás el cerebro más preparado para ello:</p>
            
                 <p>1.-  Crea la química adecuada. Para ello hay que eliminar las emociones que no se relacionan con el aburrimiento como la culpa, la vergüenza, el enfado, el hastío o la apatía.</p>
                 <p>2.-  Deja que pase un tiempo. El tiempo es otra variable importante, ya que el cerebro lo necesita para aburrirse realmente. En diez minutos no nos da tiempo a estar aburridos, como mínimo exige media hora, así que para que ocurra, hay que permitírselo y hasta regocijarse en ello.</p>
                 <p>3.-  Prepárate para cuando llegue la inspiración. Cuando te estés aburriendo, asegúrate de tener un cuaderno cerca, o un dispositivo para grabarte…. Es la forma de que no se pierdan las ideas que surgirán cuando tu cerebro se encuentre en el estado adecuado.</p> 
                 <p>4.-  Entrena el aburrimiento desde pequeño. Todos recordamos momentos de nuestra infancia en los que el ingenio nos llevaba a entretenernos con cualquier cosa que teníamos a mano y al final lo pasábamos mejor que nunca. Por eso, no te preocupes si tu hija o tu hijo te dice que se aburre; en realidad es una oportunidad estupenda para que estimule su creatividad. No interfieras en su proceso ofreciéndole otras alternativas o dándole ideas… deja que se aburra y que aprenda a disfrutar de ello.</p>
              
             <p>La ansiedad de nuestro mundo actual hace que rechacemos algunos procesos mentales, entre ellos el aburrimiento, que no encajan en ese esquema. Sin embargo, como hemos visto, estos procesos son naturales y nos han ayudado a lo largo de nuestra evolución como seres humanos, por lo que reprimirlos no es la respuesta. En vez de ello, aprende a manejar tu aburrimiento para convertirlo en creativo y, sobre todo, no te culpes por sentirlo.</p>
            </div>
          </div>
        </section>
        <footer>
          <div class="contenedor-footer">
              <div class="content-foo">
                  <h4>Phone</h4>
                  <p>11-5410-1259</p>
              </div>
              <div class="content-foo">
                  <h4>Email</h4>
                  <p>Antonioere1999@gmail.com</p>
              </div>
              <div class="content-foo">
                  <h4>Location</h4>
                  <p>Buenos Aires | Argentina</p>
              </div>
          </div>
          <h2 class="titulo-final">&copy; AERE Design | Antonio Rodrigues</h2>
      </footer>
</body>
</html>