<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Antonio Rodrigues">
    <meta name="keywords" content="html,css,xml,javascript">
    <link rel="shortcut icon" href="../../assets/img/logo-antonio.png" type="image/x-icon">
    <title>AR | Post</title>
    <link rel="stylesheet" href="../../css/estilo.css">
</head>
<body>
    <div class="padre">
      <header class="header">
        <div class="header-menu margen-interno">
            <div class="header-menu-logo">
                <a href="../../index.html">AntonioRodrigues</a>
            </div>
            <div class="header-menu-nav">
                <a href="../../index.html">inicio</a>
                <a href="../../views/blog.html">blog</a>
                <a href="../../views/libros.html">libros</a>
                <a href="../../views/about-me.html">sobre mi</a>
                <a href="../../views/contactar.html">contactar</a>
            </div>
            <div class="header-menu-social">
                <a href="https://www.facebook.com/antonio.escobar.1999/"target="_blanket"><img  src="../../assets/img/facebook1.1.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/antonio_rodrigues199/?hl=es-la"target="_blanket"><img  src="../../assets/img/instagram.png" alt="instagram"></a>
                <a href="https://github.com/AntonioR1999"target="_blanket"><img  src="../../assets/img/github.png" alt="github"></a>
            
            </div>
        </div>
        
    </header>
        <section class="container-post margen-interno">
            <div class="post">
          <h1 class="titulo-post">cinco consejos para alejar la queja de tu vida</h1>
            <div>
          <p>¿Tienes tendencia a quejarte, o conoces a alguien que se queja continuamente? Seguro que sí, y es que la queja centra a menudo nuestras conversaciones con otros, hasta el punto de que incluso hay estudios que dicen que, de cada diez minutos de charla, un minuto lo dedicamos a la queja. Esto a corto plazo tiene cierto beneficio, pero es porque confundimos la queja con el desahogo. Desahogarse es algo saludable, incluso biológicamente hablando, porque necesitamos compartir con los demás cómo nos sentimos, sacarlo fuera. Sin embargo, cuando el desahogo se convierte en una afición, llega un momento en el que el cerebro se acostumbra y se transforma en una adicción.</p>

           <p>Con la queja, el cerebro va tejiendo un camino, una red, un hábito, que libera neuroquímicos para tratar de restablecernos del estrés al bienestar aunque realmente no lo logra. En cambio, lo que sí logra es entrenar a tu cerebro para la ansiedad y la depresión. De hecho, científicos de la Universidad de Stanford descubrieron que quejarse encoge el hipocampo, que es el área del cerebro encargada de la solución de problemas. Por eso, cuanto más nos quejemos, más negro lo veremos todo… y más sensación de impotencia tendremos.</p>
            
           <p>¿Por qué nos sentimos bien al quejarnos?</p>
            
           <p>Si analizamos qué es la queja, vemos que la vivimos como una reclamación ante una autoridad por algo que consideramos injusto o por algo que nos ha hecho daño. Pero en esa conversación desviamos la atención hacia alguien que para nosotros tiene autoridad, buscando consejo, que nos diga qué es lo mejor que podemos hacer, lo que en realidad nos quita autoridad para hacer lo que queramos con esa reclamación o esa situación que no nos gusta.</p>
            
           <p>El problema es que la queja da lugar a una adicción a la propia queja. Al final somos lo que pensamos, y si estamos continuamente poniendo la mente en lo negativo pero no actuamos, con el tiempo nos volvemos unos quejicas, y a nadie le gusta relacionarse con quejicas. Cuando estás con una persona que pasa el día quejándose, tú mismo te quedas sin energía, con la sensación de que tienes que hacer algo pero en realidad no puedes hacer nada, lo que resulta bastante frustrante. Además, gracias a las neuronas espejo que todos tenemos y a nuestra capacidad empática, llegamos a experimentar en parte la sensación de malestar que sufre quien se está quejando. Por eso resulta desagradable que alguien esté quejándose constantemente, porque te traspasa su “mal rollo” y malestar, te contagia totalmente.</p>
            
           <p>Cómo alejar la queja de tu vida</p>
            
           <p>Ya vemos que quejarte no es bueno para ti ni para los que te rodean, pero aunque no es fácil salir de ese bucle una vez que uno ya ha entrado en él, también es posible dejar de ser un quejica, aunque no es fácil.</p>
            
           <p>En primer lugar, por supuesto es importante que la persona sea consciente de que se queja demasiado. A muchos les ocurre y para eso ayuda darles feedback  en el momento o hacerles preguntas del estilo “Con esto que te está sucediendo, ¿puedes hacer algo al respecto? ¿Has hablado ya con fulanito de esto?”… Es decir, animar a la persona a la acción. Si te responde que ya lo ha hecho pero no puede arreglar nada, hazle ver que si no tiene solución, lo mejor es que lo acepte y lo enfoque por el lado positivo.</p>
            
           <p>Si eres tú mismo quien ha hecho de la queja un hábito, hay dos variables que entran en juego: en primer lugar, la frecuencia, es decir, el exceso de la queja. Para reducirlo puedes ponerle límites por ejemplo, diciéndote “Ya me he quejado por hoy, ya es suficiente”, o “ya me he quejado bastante esta hora”. La otra variable es la intensidad. Cuanto mayor sea el nivel de intensidad que aplicas a la queja, más adictiva es. Si te cuesta mucho dejar de quejarte, empieza por hacerlo con menor emoción y trata de plantearte una descripción más objetiva de los hechos. Esto parece una tontería, pero ayuda mucho.</p>
            
           <p>La gratitud, un anticuerpo para la queja</p>
            
           <p>Otro de los “anticuerpos” que tenemos para la queja es la gratitud. Cuando nos mostramos agradecidos, está comprobado que se reducen a nivel químico todas las sustancias relacionadas con el estrés –como el cortisol, etc.– que provoca la queja. Si, por ejemplo, todas las noches antes de meternos en la cama nos acostumbramos a pensar qué cosas han sucedido a lo largo del día por las que podemos dar gracias, lo que hacemos es trasladar la atención hacia cosas positivas, reprogramándonos. De esta forma, en vez de gastar energía en la queja la llevaremos a la acción, a sentir que puedes cambiar algo, que es el mejor antídoto contra la queja.</p>
            
           <p>Teniendo en cuenta estas consideraciones, puedes empezar a desterrar la queja de tu mente si pones en práctica estos sencillos consejos:</p>
            
           <p>Intenta alejarte de las personas que se quejan continuamente, o trata de cambiar la conversación, porque matan tu pasión y te contagian su negatividad.</p>
           <p>Concéntrate en los hechos. Cuando te quejes de algo, haz el esfuerzo de determinar qué ha sucedido realmente.</p>
           <p>Comienza tus descripciones u oraciones con algo positivo, y muestra agradecimiento en los detalles.
            Procura que a las palabras les sigan las acciones. Es decir, después de una frase en la que te estás quejando de cualquier cosa, asegúrate de decir: “Bueno, ahora lo que voy a hacer con esto es…”.
            Trata de mantenerte consciente de tus sensaciones físicas, emociones, sentimientos y necesidades.
            Y, sobre todo, recuerda que la energía que utilizamos en quejarnos es la que necesitamos para superar la adversidad. ¡Enfoca bien tus esfuerzos!</p>
            </div>
          </div>
        </section>
        <footer>
          <div class="contenedor-footer">
              <div class="content-foo">
                  <h4>Phone</h4>
                  <p>11-5410-1259</p>
              </div>
              <div class="content-foo">
                  <h4>Email</h4>
                  <p>Antonioere1999@gmail.com</p>
              </div>
              <div class="content-foo">
                  <h4>Location</h4>
                  <p>Buenos Aires | Argentina</p>
              </div>
          </div>
          <h2 class="titulo-final">&copy; AERE Design | Antonio Rodrigues</h2>
      </footer>
</body>
</html>