<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Antonio Rodrigues">
    <meta name="keywords" content="html,css,xml,javascript">
    <link rel="shortcut icon" href="../../assets/img/logo-antonio.png" type="image/x-icon">
    <title>AR | Post</title>
    <link rel="stylesheet" href="../../css/estilo.css">
</head>
<body>
<div class="padre">
      <header class="header">
        <div class="header-menu margen-interno">
            <div class="header-menu-logo">
                <a href="../../index.html">AntonioRodrigues</a>
            </div>
            <div class="header-menu-nav">
                <a href="../../index.html">inicio</a>
                <a href="../../views/blog.html">blog</a>
                <a href="../../views/libros.html">libros</a>
                <a href="../../views/about-me.html">sobre mi</a>
                <a href="../../views/contactar.html">contactar</a>
            </div>
            <div class="header-menu-social">
                <a href="https://www.facebook.com/antonio.escobar.1999/"target="_blanket"><img  src="../../assets/img/facebook1.1.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/antonio_rodrigues199/?hl=es-la"target="_blanket"><img  src="../../assets/img/instagram.png" alt="instagram"></a>
                <a href="https://github.com/AntonioR1999"target="_blanket"><img  src="../../assets/img/github.png" alt="github"></a>
            
            </div>
        </div>
        
    </header>
        <section class="container-post margen-interno">
            <div class="post">
                <h1 class="titulo-post">¡rebelate contra el sedentarismo! estaras mas sano y feliz</h1>
                <div>
                <p>¡La inactividad perjudica no solo la salud física, sino también la mental! Los daños del sedentarismo son de sobra conocidos, pero ahora investigaciones recientes demuestran que también afecta a la salud mental. La falta de ejercicio y la inactividad continuada hacen que las personas asuman menos responsabilidades, estén menos abiertas a nuevas experiencias y sean menos amables. En suma, no moverse no solo engorda, además nos hace más gruñones.</p>

                   <p> ¿Te ha pasado que cuanto menos ejercicio haces, de peor humor estás? Lo sabemos y la ciencia lo explica. El cuerpo humano no está programado para estar quieto, tenemos más de trescientas sesenta articulaciones. Estamos hechos para el movimiento. De hecho, con solo catorce días de sedentarismo ya se producen cambios en el carácter, según un estudio de la Universidad de Liverpool.</p>
                    
                   <p>Peligros de no moverse</p>
                    
                  <p>Para empezar, el sedentario es el cuarto factor de riesgo de mortalidad mundial según la Organización Mundial de la Salud (OMS). En España el 30 % de la población acusa sedentarismo.</p>
                    
                   <p>Investigaciones recientes y pretéritas confluyen en que a las personas sedentarias les cuesta más adaptarse a los cambios, tienen más problemas sociales y dificultades para asumir responsabilidades. De hecho, si lo pensamos vemos que es lógico. No moverse, con el tiempo, nos acobarda ante la vida. La consecuencia es que aumenta nuestra ansiedad y el estrés, pues la falta de ejercicio nos impide descargar tensión y eliminar toxinas a través del sudor.</p>
                    
                   <p>En el ámbito neuronal, no mover el cuerpo deteriora las fibras nerviosas. Antiguamente, con los trabajos más físicos, las personas desarrollaban su cerebro al mismo tiempo aunque no quisieran, pues ambos van de la mano. Sin embargo, esto no sucede al revés. La actividad intelectual del mundo laboral sí estimula el cerebro, pero no nuestro cuerpo, uno de los motivos por el que las enfermedades neurodegenerativas cada vez son más corrientes.</p>
                    
                   <p>Por otra parte, el sedentarismo provoca cansancio, ya que de no movernos cualquier movimiento nos cansa. Por ello, cuando tenemos sensación de cansancio puede ser porque tengamos mucha actividad o por todo lo contrario, por no movernos a penas. Si te sucede, chequea cuál es tu situación, tal vez te sorprendas.</p>
                    
                   <p>En cambio, con el ejercicio físico liberamos endorfinas, las hormonas de la relajación y la felicidad. Incluso algunos estudios apuntan a que el ejercicio físico ayuda a aliviar algunos síntomas de la depresión. Y lo mejor de todo es que contribuye a que nuestro tejido neuronal se regenere gracias a la proteína BDNF (el factor neurotrófico derivado del cerebro) que actúa como factor de crecimiento nervioso.</p>
                    
                   <p>Claves para revelarnos contra el sedentarismo</p>
                    
                    <p>Levántate cada dos horas de la silla. Haz estiramientos, vete a tomar café lo más lejos que puedas (sin huir del trabajo, claro -:), invéntate lo que sea para no estar más de dos horas sentado. Y si se te olvida, ponte una alarma. Es muy importante: se oxigena el cuerpo y se mueven las articulaciones. ¡Que no se duerma el nervio vago!</p>
                    
                    <p>Aprovecha el ocio para moverte. Elige vacaciones y tiempo de ocio que impliquen movimiento. Si no eres deportista ni te gusta el baile, pongamos por caso, camina; hay mil rutas que te encantará descubrir paso a paso.</p>
                    
                    <p>Búscate un compañero. Si salir a caminar en solitario no te motiva, busca a otra persona a la que le guste y haga que os animéis mutuamente. Caminar es una de esas actividades que más enganchan por sus poderes terapéuticos.</p>
                    
                    <p>Queda con los amigos para charlar y dar un paseo. Está demostrado que cuando hablamos y caminamos nuestro cerebro se entrena y desarrolla más. Esas conversaciones son mucho más profundas y productivas.</p>
                    
                   <p>Así que cuidado con el verano. El tiempo libre y el calor nos pueden hacer más perezosos, lo que nos volverá más gruñones, por eso en vacaciones a menudo se tienen más “broncas”. Ya sabemos que todo en exceso es perjudicial y un poquito de todo, una maravilla, incluida la tumbona bajo una sombrilla, con un buen libro, durante las largas tarde de estío.</p>
                </div>
            </div>
        </section>
        <footer>
          <div class="contenedor-footer">
              <div class="content-foo">
                  <h4>Phone</h4>
                  <p>11-5410-1259</p>
              </div>
              <div class="content-foo">
                  <h4>Email</h4>
                  <p>Antonioere1999@gmail.com</p>
              </div>
              <div class="content-foo">
                  <h4>Location</h4>
                  <p>Buenos Aires | Argentina</p>
              </div>
          </div>
          <h2 class="titulo-final">&copy; AERE Design | Antonio Rodrigues</h2>
      </footer>
</div>
</body>
</html>