<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Antonio Rodrigues">
    <meta name="description" content="Antonio Rodrigues | #Aprendizaje #Liderazgo #Neurociencia #Blog">
    <meta name="Keywords" content="Antonio Rodrigues. Blog . Conferencias. Libros .Cultura del aprendizaje. Superate solo a ti mismo. Aburrimiento productivo">
    <title>AR | Conferencias</title>
    <link rel="shortcut icon" href="../assets/img/logo-antonio.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <div class="padre">
      <header class="header">
        <div class="header-menu margen-interno">
            <div class="header-menu-logo">
                <a href="../index.html">AntonioRodrigues</a>
            </div>
            <div class="header-menu-nav">
                <a href="../index.html">inicio</a>
                <a href="../views/blog.html">blog</a>
                <a href="../views/libros.html">libros</a>
                <a href="../views/about-me.html">sobre mi</a>
                <a href="../views/contactar.html">contactar</a>
            </div>
            <div class="header-menu-social">
                <a href="https://www.facebook.com/antonio.escobar.1999/"target="_blanket"><img  src="../assets/img/facebook1.1.png" alt="Facebook"></a>
                <a href="https://www.instagram.com/antonio_rodrigues199/?hl=es-la"target="_blanket"><img  src="../assets/img/instagram.png" alt="instagram"></a>
                <a href="https://github.com/AntonioR1999"target="_blanket"><img  src="../assets/img/github.png" alt="github"></a>
            
            </div>
        </div>
    </header>
    <section class="section margen-interno">
                <div class="header-title margen-interno">
                    <h1>about me</h1>
                    <img class="img-aboutme" src="../assets/img/antonio-imagen.jpg" >
                  </div>
                  <section class="container-post margen-interno">
                    <div class="post">
                        <div>
                        <p>Después de pensar todo un dia que pondria aqui, he decidido no describirme desde lo que he hecho, solo desde lo que soy y no tiene reversa. Es simple:</p>
        
                        <p> Antonio Rodrigues, 21 años Venezolano</p>
                        
                        <p>Como proactivo con el presente, me gustan los retos y el progreso, creo en un futuro mejor, en la transformación y en el conocimiento.</p>
                        
                        <p>Le he ido dando vuelta a la vida en tanto me conozco mejor. Cuando dimensioné que la vida pasa y si no la direccionas igual pasa, decidí crear este blog para encontrar, entre todo lo que me gusta.</p>

                        <p>Todos tenemos cosas para decir que aportan valor. Tengo disposición en mejorar la forma y fondo para decir exactamente lo que quiero, de la manera correcta. ¡Bienvenida toda retroalimentación!</p>
                        
                        
                        </div>
                    </div>
                </section>
        </section>
        <footer>
          <div class="contenedor-footer">
              <div class="content-foo">
                  <h4>Phone</h4>
                  <p>11-5410-1259</p>
              </div>
              <div class="content-foo">
                  <h4>Email</h4>
                  <p>Antonioere1999@gmail.com</p>
              </div>
              <div class="content-foo">
                  <h4>Location</h4>
                  <p>Buenos Aires | Argentina</p>
              </div>
          </div>
          <h2 class="titulo-final">&copy; AERE Design | Antonio Rodrigues</h2>
      </footer>
</body>
</html>